.search-container {
  display: flex;
}

.mobile-search-container {
  display: none;
}

@media only screen and (max-width: 768px) {
  .search-container {
    display: none;
  }

  .mobile-search-container {
    display: inline-block;
    width: 100%;
    margin: 10px 0;
  }
}